* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
  margin: 0;
}

/* header part */
/* Style the header */
.header {
  background-color: rgb(105, 252, 252);
  position: relative;
  height: 90px;
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-left: 1%;
  font-size: 40px;
  position: fixed;
}

/* .logo{
  float: left;
} */
#menu {
  left: 40% ;
  position: absolute;
  font-size: 35px;
  bottom: 0%;
  color: white;
  overflow: hidden;
}

#currentPage {
  font-weight: bold;
}

/* Each state */
a.button:link, a.button:visited {
  color: black;
  background-color: rgb(105, 252, 252);
  color: black;

  text-decoration: none;
  display: inline-block;
}

a.button:hover {
  color: black;
  background-color: rgb(100, 230, 230);
  color: black;

  text-decoration: none;
  display: inline-block;
}

a.button:active {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* end of header part */
/* Style the content */
.content {
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
}

.section {
  position: relative;
  text-align: center;
}

.centerCompName {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* Style the footer */
hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.footer {
  background-color: white;
  padding: 10px;
}

a.media:link, a.media:visited {
  text-decoration: none;
}
