
* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  margin:0;
}

h2.serviceName{
  font-size: 50px;
}

p.serviceDescription{
  font-size: 30px;
}
/* header part */
a.button { color:white } /* Globally */

/* Each state */

a.button:visited { text-decoration: none;}
a.button:hover { text-decoration: none;  }
a.button:focus { text-decoration: none; }
a.button:hover, a:active { text-decoration: none; color:black }
/* Style the header */
.header {
  background-color: #00BFFF;

  background-position: center;
  background-size: contain;
  position:relative;
  height:125px;
  overflow: hidden;
}
.logo{
  float: left;
}
.menu{
  position: absolute;
  font-size:30px;
  left:auto;
  bottom: 10%;
  right: 7.5%;
  color:white;
}
.button{

  margin: 10px;

}


.slides{
  width:100%;

  height:600px;
}
/* end of header part */


.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  gap: 1%;
}
.gridServiceOdd{
  grid-column: 1/2;
  grid-row: 1/2;
}
.gridPicOdd{
  grid-column: 2/3;
  grid-row: 1/2;

}

.gridServiceEven{
  grid-column: 2/3;
  grid-row: 1/2;
}
.gridPicEven{
  grid-column: 1/2;
  grid-row: 1/2;

}

/* Style the footer */
.footer {
  background-color: white;
  padding: 10px;
}
